<% provide(:title, t("search.title")) %>
<div class="container text-center">
  <hr>
    <h1><%= t "search.result_search" %></h1>
  <hr>
  <div class="row">
    <%= render @products %>
  </div>
  <div class="willginate">
    <%= will_paginate @products %>
  </div>
</div>
